# dependencies (bun install)
node_modules

# output
out

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# finder config
.DS_Store

# agentic files
AGENTS.md
agents

# testing examples
md
templates

# local codebook config
codebook.toml
